.button {
  border-radius: 4px;
  border: 0;
  background-color: var(--buttonBlue);
  padding: 6px 24px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.button:hover {
  cursor: pointer !important;
  background-color: var(--buttonHover);
}